# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*


.cursor/skills/banner-design/
.cursor/skills/brand/
.cursor/skills/design/
.cursor/skills/design-system/
.cursor/skills/slides/
.cursor/skills/ui-styling/
.cursor/skills/ui-ux-pro-max/

# env files (can opt-in for committing if needed)
.env*
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
